{
  "root": "{{ dubzland_backup_server_root }}",
  "configuration_d": "{{ dubzland_backup_server_configuration_d }}",
  "bin": "{{ dubzland_backup_server_bin }}",
  "lib": "{{ dubzland_backup_server_lib }}",
  "log": "{{ dubzland_backup_server_log }}",
  "run": "{{ dubzland_backup_server_run }}",
  "var": "{{ dubzland_backup_server_var }}",
  "pid_file": "{{ dubzland_backup_server_run }}/{{ dubzland_backup_server_job_name }}.pid"
}
