pid file = /var/run/rsyncd.pid
lock file = /var/run/rsyncd.lock
syslog facility = local5
max connections = 4
uid = root
gid = root
use chroot = yes
numeric ids = yes
{% for client in dubzland_backup_server_clients %}

[{{ client.name }}]
  path = {{ dubzland_backup_server_root }}/{{ client.name }}
  comment = Backups for {{ client.name }}
  read only = no
  write only = no
  list = false
  hosts allow = {{ client.ipv4_address }}
  hosts deny = 0.0.0.0/0
{% endfor %}
